# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorFlow model files (you may want to ignore specific versions)
models/*.h5
models/*.keras

# Logs
logs/
*.log

# Data files (Optional: If you store any dataset locally)
datasets/

# IDE-specific files (e.g., PyCharm, VSCode, etc.)
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db